@model NetCoreAI.Project02.ApiConsumeUI.Dtos.CreateCustomerDto // Kullanacağımız modeli belirttik. (Direkt yazdığın gibi çıkmazsa böyle de yerini belirtebilirsin.)

<form method="post" autocomplete="off">
	<div class="form-group">
		<label for="name">Müşteri Adı</label>
		<input type="text" asp-for="Name" class="form-control"  placeholder="Müşteri Adı">
	</div>
	<div class="form-group">
		<label for="surname">Müşteri Soyadı</label>
		<input type="text" asp-for="Surname" class="form-control" placeholder="Müşteri Soyadı">
	</div>
	<div class="form-group">
		<label for="balance">Müşteri Bakiye</label>
		<input type="text" asp-for="Balance" class="form-control" id="balance" placeholder="Müşteri Bakiye">
	</div>
	<button type="submit" class="btn btn-primary">Müşteri Ekle</button>
</form>